<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <!-- Based on Ghostium Theme by Oswaldo Acaucan, http://ghostium.oswaldoacauan.com -->
</footer>
